// PW Theme
@import "../../modules/AdminThemeUikit/uikit/custom/pw.less";
@import "../../modules/RockSkinUikit/themes/default.less";

@rs-primary-color: #000dbe;
@rs-secondary-color: #a1a1a1;
@rs-text-color: #313131;
@rs-muted: #e7e7e7;
